[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/projects/aws_production
EnvironmentFile=/home/ubuntu/projects/aws_production/.env_sys
ExecStart=/home/ubuntu/projects/aws_production/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          config.wsgi:application
[Install]
WantedBy=multi-user.target